/*aplica a todas las eriquetas input*/

input {
				color:red;
}

/*aplico estilos de lista*/

/*esto es una clase*/
.navDefault{ color: gray;}


.navDefault li a {
	color:green;
	text-decoration: none;
	text-transform: uppercase;
}

ul li {
	list-style: none;
}


/*aplico solo al id seclogin un fondo amarillo*/

#seclogin {
 background-color: yellow;	
}

/*estilos de tablas border*/

.tabla{
	/*border: 1px thin solid;*/
	background-color: gray;
}

.miImg {
	width: 50%;	
}

